<a href="https://colab.research.google.com/github/ShalilG/Stock-Market-Analysis/blob/main/CalculateAnnualizedStockReturns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.84-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.2 MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.84

In [2]:
import pandas as pandas
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt

In [8]:
#Load the data 
tick = 'META', 'AMZN', 'TSLA', 'GOOG', 'NFLX', 'AAPL', 'CRM', 'NVDA', 'SPY', 'VOO', 'WMT', 'KO', 'NKE', 'MSFT', 'VGT'

#Show the data
df = yf.download(tick, start = '2017-01-01', end = '2022-12-31')
df = df[['Adj Close']]

df

[*********************100%***********************]  15 of 15 completed

             Adj Close                                                 \
                  AAPL        AMZN         CRM        GOOG         KO
Date
2017-01-03   27.219828   37.683498   70.540001   39.306999  34.738522
2017-01-04   27.189365   37.859001   72.800003   39.345001  34.613865
2017-01-05   27.327639   39.022499   72.790001   39.701000  34.696968
2017-01-06   27.632290   39.799500   73.800003   40.307499  34.688656
2017-01-09   27.885391   39.846001   73.959999   40.332500  34.339611
...                ...         ...         ...         ...        ...
2022-10-24  149.449997  119.820000  160.649994  102.970001  57.570000
2022-10-25  152.339996  120.599998  165.270004  104.930000  58.950001
2022-10-26  149.350006  115.660004  159.910004   94.820000  59.389999
2022-10-27  144.800003  110.959999  159.750000   92.599998  59.529999
2022-10-28  155.740005  103.410004  163.020004   96.580002  60.759998

                                                                       \
                  META        MSFT        NFLX        NKE        NVDA
Date
2017-01-03  116.860001   57.807819  127.489998  48.971218   25.153664
2017-01-04  118.690002   57.549175  129.410004  49.998123   25.740513
2017-01-05  120.669998   57.549175  131.809998  49.988705   25.087080
2017-01-06  123.410004   58.047997  131.070007  50.789497   25.422424
2017-01-09  124.900002   57.863235  130.949997  50.290184   26.453133
...                ...         ...         ...        ...         ...
2022-10-24  129.720001  247.250000  282.450012  88.010002  125.989998
2022-10-25  137.509995  250.660004  291.019989  91.720001  132.610001
2022-10-26  129.820007  231.320007  298.619995  92.389999  128.960007
2022-10-27   97.940002  226.750000  296.940002  90.540001  131.759995
2022-10-28   99.199997  235.869995  295.720001  93.830002  138.339996


                   SPY        TSLA         VGT         VOO         WMT
Date
2017-01-03  203.788055   14.466000  115.433876  186.604095   61.311592
2017-01-04  205.000443   15.132667  116.131432  187.705307   61.668770
2017-01-05  204.837585   15.116667  116.216270  187.560883   61.802738
2017-01-06  205.570419   15.267333  117.281425  188.291992   60.954399
2017-01-09  204.891876   15.418667  117.488808  187.696259   61.356232
...                ...         ...         ...         ...         ...
2022-10-24  378.869995  211.250000  324.170013  348.089996  139.410004
2022-10-25  384.920013  222.419998  331.269989  353.750000  140.070007
2022-10-26  382.019989  224.639999  324.609985  351.109985  141.139999
2022-10-27  379.980011  225.089996  321.250000  349.230011  140.729996
2022-10-28  389.019989  228.520004  334.179993  357.380005  142.509995

[1467 rows x 15 columns]

In [9]:
#Get the simply daily returns of the assets

daily_simple_returns = df.pct_change()
daily_simple_returns

           Adj Close                                                    \
                AAPL      AMZN       CRM      GOOG        KO      META
Date
2017-01-03       NaN       NaN       NaN       NaN       NaN       NaN
2017-01-04 -0.001119  0.004657  0.032039  0.000967 -0.003588  0.015660
2017-01-05  0.005086  0.030732 -0.000137  0.009048  0.002401  0.016682
2017-01-06  0.011148  0.019912  0.013876  0.015277 -0.000240  0.022707
2017-01-09  0.009160  0.001168  0.002168  0.000620 -0.010062  0.012074
...              ...       ...       ...       ...       ...       ...
2022-10-24  0.014803  0.004190  0.002997  0.014683  0.028771 -0.002231
2022-10-25  0.019338  0.006510  0.028758  0.019035  0.023971  0.060052
2022-10-26 -0.019627 -0.040962 -0.032432 -0.096350  0.007464 -0.055923
2022-10-27 -0.030465 -0.040636 -0.001001 -0.023413  0.002357 -0.245571
2022-10-28  0.075553 -0.068042  0.020470  0.042981  0.020662  0.012865

                                                                        \
                MSFT      NFLX       NKE      NVDA       SPY      TSLA
Date
2017-01-03       NaN       NaN       NaN       NaN       NaN       NaN
2017-01-04 -0.004474  0.015060  0.020970  0.023331  0.005949  0.046085
2017-01-05  0.000000  0.018546 -0.000188 -0.025385 -0.000794 -0.001057
2017-01-06  0.008668 -0.005614  0.016019  0.013367  0.003578  0.009967
2017-01-09 -0.003183 -0.000916 -0.009831  0.040543 -0.003301  0.009912
...              ...       ...       ...       ...       ...       ...
2022-10-24  0.021188 -0.024588 -0.005537  0.010669  0.012236 -0.014876
2022-10-25  0.013792  0.030342  0.042154  0.052544  0.015969  0.052876
2022-10-26 -0.077156  0.026115  0.007305 -0.027524 -0.007534  0.009981
2022-10-27 -0.019756 -0.005626 -0.020024  0.021712 -0.005340  0.002003
2022-10-28  0.040220 -0.004109  0.036338  0.049939  0.023791  0.015238


                 VGT       VOO       WMT
Date
2017-01-03       NaN       NaN       NaN
2017-01-04  0.006043  0.005901  0.005826
2017-01-05  0.000731 -0.000769  0.002172
2017-01-06  0.009165  0.003898 -0.013727
2017-01-09  0.001768 -0.003164  0.006592
...              ...       ...       ...
2022-10-24  0.011798  0.012184  0.019079
2022-10-25  0.021902  0.016260  0.004734
2022-10-26 -0.020104 -0.007463  0.007639
2022-10-27 -0.010351 -0.005354 -0.002905
2022-10-28  0.040249  0.023337  0.012648

[1467 rows x 15 columns]

In [10]:
#Calculate the annualized returns 

annualized_returns = daily_simple_returns.mean() * 252

#Show the annualized returns 

annualized_returns

Adj Close  AAPL    0.348558
           AMZN    0.228931
           CRM     0.207418
           GOOG    0.196467
           KO      0.116563
           META    0.052878
           MSFT    0.283115
           NFLX    0.248736
           NKE     0.160077
           NVDA    0.417338
           SPY     0.130797
           TSLA    0.661201
           VGT     0.216263
           VOO     0.131892
           WMT     0.170770
dtype: float64

In [11]:
#Sort the data 

sorted_annualized_returns = annualized_returns.sort_values(ascending=False)
sorted_annualized_returns

Adj Close  TSLA    0.661201
           NVDA    0.417338
           AAPL    0.348558
           MSFT    0.283115
           NFLX    0.248736
           AMZN    0.228931
           VGT     0.216263
           CRM     0.207418
           GOOG    0.196467
           WMT     0.170770
           NKE     0.160077
           VOO     0.131892
           SPY     0.130797
           KO      0.116563
           META    0.052878
dtype: float64