<a href="https://colab.research.google.com/github/ShalilG/Stock-Market-Analysis/blob/main/DividendAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.84)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.28.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.9.24)

In [13]:
import pandas as pd 
import yfinance as yf
import numpy as np

In [14]:
tick = 'AAPL'

In [15]:

#Show the data
df = yf.download(tick)
df = df[['Adj Close']]

df

[*********************100%***********************]  1 of 1 completed

             Adj Close
Date
1980-12-12    0.100039
1980-12-15    0.094820
1980-12-16    0.087861
1980-12-17    0.090035
1980-12-18    0.092646
...                ...
2022-10-24  149.449997
2022-10-25  152.339996
2022-10-26  149.350006
2022-10-27  144.800003
2022-10-28  155.740005

[10560 rows x 1 columns]

In [16]:
AAPL = yf.Ticker("AAPL")

In [17]:
divs = AAPL.dividends
divs

Date
1987-05-11 00:00:00-04:00    0.000536
1987-08-10 00:00:00-04:00    0.000536
1987-11-17 00:00:00-05:00    0.000714
1988-02-12 00:00:00-05:00    0.000714
1988-05-16 00:00:00-04:00    0.000714
                               ...
2021-08-06 00:00:00-04:00    0.220000
2021-11-05 00:00:00-04:00    0.220000
2022-02-04 00:00:00-05:00    0.220000
2022-05-06 00:00:00-04:00    0.230000
2022-08-05 00:00:00-04:00    0.230000
Name: Dividends, Length: 76, dtype: float64

In [18]:
earnings = AAPL.earnings
earnings

           Revenue     Earnings
Year
2019  260174000000  55256000000
2020  274515000000  57411000000
2021  365817000000  94680000000
2022  394328000000  99803000000

In [19]:
print(AAPL.info['dividendRate'])
print(AAPL.info['marketCap'])

0.92
2502866501632

In [20]:
dividend_obligation = AAPL.info['marketCap']*(AAPL.info['dividendRate']/100)
dividend_obligation

23026371815.0144

In [21]:
earnings['Dividend Coverage'] = earnings['Earnings']/dividend_obligation
earnings

           Revenue     Earnings  Dividend Coverage
Year
2019  260174000000  55256000000           2.399683
2020  274515000000  57411000000           2.493272
2021  365817000000  94680000000           4.111807
2022  394328000000  99803000000           4.334291

In [22]:
AAPL.info['dividendRate']/100

0.0092