<a href="https://colab.research.google.com/github/ShalilG/Stock-Market-Analysis/blob/main/MonthlyDividendPortfolio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 486 kB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.74

In [2]:
import yfinance as yf
import pandas as pd 
import datetime as dt

In [3]:
var = yf.Ticker('AAPL')

In [4]:
var.history(period='11y')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2011-08-05,11.617252,11.710694,11.071568,11.408994,1204590800,0.0,0.0
2011-08-08,11.044696,11.230357,10.779946,10.785748,1143833600,0.0,0.0
2011-08-09,11.032786,11.439225,10.840406,11.420903,1082583600,0.0,0.0
2011-08-10,11.333567,11.440444,11.069428,11.105766,878656800,0.0,0.0
2011-08-11,11.314329,11.464874,11.137218,11.411435,741969200,0.0,0.0
...,...,...,...,...,...,...,...
2022-07-29,161.240005,163.630005,159.500000,162.509995,101689200,0.0,0.0
2022-08-01,161.009995,163.589996,160.889999,161.509995,67829400,0.0,0.0
2022-08-02,160.100006,162.410004,159.630005,160.009995,59907000,0.0,0.0
2022-08-03,160.839996,166.589996,160.750000,166.130005,82507500,0.0,0.0
2022-08-04,166.009995,167.190002,164.429993,165.809998,55409400,0.0,0.0

In [5]:
var.dividends

Date
2012-08-09    0.094643
2012-11-07    0.094643
2013-02-07    0.094643
2013-05-09    0.108929
2013-08-08    0.108929
2013-11-06    0.108929
2014-02-06    0.108929
2014-05-08    0.117500
2014-08-07    0.117500
2014-11-06    0.117500
2015-02-05    0.117500
2015-05-07    0.130000
2015-08-06    0.130000
2015-11-05    0.130000
2016-02-04    0.130000
2016-05-05    0.142500
2016-08-04    0.142500
2016-11-03    0.142500
2017-02-09    0.142500
2017-05-11    0.157500
2017-08-10    0.157500
2017-11-10    0.157500
2018-02-09    0.157500
2018-05-11    0.182500
2018-08-10    0.182500
2018-11-08    0.182500
2019-02-08    0.182500
2019-05-10    0.192500
2019-08-09    0.192500
2019-11-07    0.192500
2020-02-07    0.192500
2020-05-08    0.205000
2020-08-07    0.205000
2020-11-06    0.205000
2021-02-05    0.205000
2021-05-07    0.220000
2021-08-06    0.220000
2021-11-05    0.220000
2022-02-04    0.220000
2022-05-06    0.230000
Name: Dividends, dtype: float64

In [6]:
tickers = pd.read_html('https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average')[1]

In [7]:
tickers = tickers.Symbol.to_list()

In [8]:
divs = []

for i in tickers: 
  inst = yf.Ticker(i)
  inst.history(period='1y')
  divs.append(inst.dividends)

In [9]:
df = pd.DataFrame(divs, index=tickers)

In [10]:
df.columns = df.columns.month

In [11]:
df = df.groupby(df.columns, axis=1).sum()

In [12]:
df.columns = [dt.date(1900,i,1).strftime('%b') for i in df.columns]

In [13]:
df

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
MMM,0.00,1.490,0.000,0.000,1.490,0.000,0.000,1.480000,0.00,0.00,1.480,0.000
AXP,0.43,0.000,0.000,0.520,0.000,0.520,0.000,0.000000,0.00,0.43,0.000,0.000
AMGN,0.00,1.940,0.000,0.000,1.940,0.000,0.000,1.760000,0.00,0.00,1.760,0.000
AAPL,0.00,0.220,0.000,0.000,0.230,0.000,0.000,0.220000,0.00,0.00,0.220,0.000
BA,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000000,0.00,0.00,0.000,0.000
CAT,1.11,0.000,0.000,1.110,0.000,0.000,1.200,0.000000,0.00,1.11,0.000,0.000
CVX,0.00,1.420,0.000,0.000,1.420,0.000,0.000,1.340000,0.00,0.00,1.340,0.000
CSCO,0.37,0.000,0.000,0.380,0.000,0.000,0.380,0.000000,0.00,0.37,0.000,0.000
KO,0.00,0.000,0.440,0.000,0.000,0.440,0.000,0.000000,0.42,0.00,0.420,0.000
DIS,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000000,0.00,0.00,0.000,0.000
DOW,0.00,0.700,0.000,0.000,0.700,0.000,0.000,0.700000,0.00,0.00,0.700,0.000
GS,0.00,0.000,2.000,0.000,2.000,0.000,0.000,2.000000,0.00,0.00,0.000,2.000
HD,0.00,0.000,1.900,0.000,0.000,1.900,0.000,0.000000,1.65,0.00,0.000,1.650
HON,0.00,0.980,0.000,0.000,0.980,0.000,0.000,0.930000,0.00,0.00,0.980,0.000
IBM,0.00,1.640,0.000,0.000,1.650,0.000,0.000,1.567878,0.00,0.00,1.640,0.000
INTC,0.00,0.365,0.000,0.000,0.365,0.000,0.000,0.713000,0.00,0.00,0.348,0.000
JNJ,0.00,1.060,0.000,0.000,1.130,0.000,0.000,1.060000,0.00,0.00,1.060,0.000
JPM,1.00,0.000,0.000,1.000,0.000,0.000,1.000,0.000000,0.00,1.00,0.000,0.000
MCD,0.00,1.380,0.000,0.000,0.000,1.380,0.000,1.290000,0.00,0.00,1.380,0.000
MRK,0.00,0.000,0.690,0.000,0.000,0.690,0.000,0.000000,0.65,0.00,0.000,0.690
MSFT,0.00,0.620,0.000,0.000,0.620,0.000,0.000,0.560000,0.00,0.00,0.620,0.000
NKE,0.00,0.000,0.305,0.000,0.000,0.305,0.000,0.275000,0.00,0.00,0.000,0.305
PG,0.87,0.000,0.000,0.913,0.000,0.000,0.913,0.000000,0.00,0.87,0.000,0.000
CRM,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000000,0.00,0.00,0.000,0.000
TRV,0.00,0.000,0.880,0.000,0.000,0.930,0.000,0.000000,0.88,0.00,0.000,0.880
UNH,0.00,0.000,1.450,0.000,0.000,1.650,0.000,0.000000,1.45,0.00,0.000,1.450
VZ,0.64,0.000,0.000,0.640,0.000,0.000,0.640,0.000000,0.00,0.64,0.000,0.000
V,0.00,0.375,0.000,0.000,0.375,0.000,0.000,0.320000,0.00,0.00,0.375,0.000
WBA,0.00,0.478,0.000,0.000,0.478,0.000,0.000,0.478000,0.00,0.00,0.478,0.000
WMT,0.00,0.000,0.560,0.000,0.560,0.000,0.000,0.550000,0.00,0.00,0.000,0.550

In [15]:
df[df.Aug > 0]

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
MMM,0.0,1.490,0.000,0.0,1.490,0.000,0.0,1.480000,0.0,0.0,1.480,0.000
AMGN,0.0,1.940,0.000,0.0,1.940,0.000,0.0,1.760000,0.0,0.0,1.760,0.000
AAPL,0.0,0.220,0.000,0.0,0.230,0.000,0.0,0.220000,0.0,0.0,0.220,0.000
CVX,0.0,1.420,0.000,0.0,1.420,0.000,0.0,1.340000,0.0,0.0,1.340,0.000
DOW,0.0,0.700,0.000,0.0,0.700,0.000,0.0,0.700000,0.0,0.0,0.700,0.000
GS,0.0,0.000,2.000,0.0,2.000,0.000,0.0,2.000000,0.0,0.0,0.000,2.000
HON,0.0,0.980,0.000,0.0,0.980,0.000,0.0,0.930000,0.0,0.0,0.980,0.000
IBM,0.0,1.640,0.000,0.0,1.650,0.000,0.0,1.567878,0.0,0.0,1.640,0.000
INTC,0.0,0.365,0.000,0.0,0.365,0.000,0.0,0.713000,0.0,0.0,0.348,0.000
JNJ,0.0,1.060,0.000,0.0,1.130,0.000,0.0,1.060000,0.0,0.0,1.060,0.000
MCD,0.0,1.380,0.000,0.0,0.000,1.380,0.0,1.290000,0.0,0.0,1.380,0.000
MSFT,0.0,0.620,0.000,0.0,0.620,0.000,0.0,0.560000,0.0,0.0,0.620,0.000
NKE,0.0,0.000,0.305,0.0,0.000,0.305,0.0,0.275000,0.0,0.0,0.000,0.305
V,0.0,0.375,0.000,0.0,0.375,0.000,0.0,0.320000,0.0,0.0,0.375,0.000
WBA,0.0,0.478,0.000,0.0,0.478,0.000,0.0,0.478000,0.0,0.0,0.478,0.000
WMT,0.0,0.000,0.560,0.0,0.560,0.000,0.0,0.550000,0.0,0.0,0.000,0.550